.card-deck{
    margin: 50px;
    margin-left:10vw;
    justify-content: center;
}

.border{
   border: 20px thick;
   text-align: left;
   margin: 10px;
   margin-top: 5vh;
   padding: 2px;
   padding-top: 5vh;
   padding-bottom: 5vh;
   justify-content: left;
   width: 15vw;
   display:inline-block;
   position:fixed ;
}
.border>div{
    margin:10px;
    justify-content: left;

}